raw-pdfs/robinson/*.pdf
raw-pdfs/engines/*.pdf
raw-pdfs/faa/advisory-circulars/*.pdf
raw-pdfs/robinson/maintenance-manuals/*.pdf
raw-pdfs/bell/*.pdf
raw-pdfs/airbus/*.pdf
raw-pdfs/agustawestland/*.pdf
raw-pdfs/md_helicopters/*.pdf
raw-pdfs/faa/*.pdf
extracted-data/raw-text/*.txt
.env

question-bank/qbank_*.json
